future
emoji
lxml
wget
gtts
faker
youtube-dl==2021.06.06
beautifulsoup4
requests==2.20.0
python-telegram-bot==13.7
sqlalchemy==1.3.20
psycopg2-binary
feedparser
hachoir
pynewtonmath
Python_ARQ
spongemock
python-arq
zalgo-text
geopy
ffmpeg
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
tswift
jikanpy
speedtest-cli
regex
bleach
telethon==1.23.0
heroku3
pybase64
pySmartDL
validators
nekos.py
aiofiles
pyrate-limiter
cachetools
pretty_errors
TgCrypto
Pyrogram
youtube_search_python
youtube_search
