  
future
emoji
lxml
wget
gtts
faker
youtube_dl
beautifulsoup4
requests==2.20.0
python-telegram-bot==13.7
sqlalchemy==1.3.20
psycopg2-binary
feedparser
hachoir
pynewtonmath
Python_ARQ
spongemock
python-arq
zalgo-text
geopy
ffmpeg
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
tswift
jikanpy
speedtest-cli
coffeehouse==2.2.4
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon==1.23.0
telegraph
heroku3
spamwatch
alphabet_detector
pybase64
pySmartDL
validators
nekos.py
aiofiles
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
youtube-dl
youtube_search_python
youtube_search
